<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Blog Application</title>
    <link rel="stylesheet" href="/styles/themes/light-theme.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <%- include("partials/header.ejs") %>
        </div>
        
        <div id="blog">
            <div id="sidebar"></div>
            <div id="content">
                <div id="create">
                    <a href="/create">
                        <button>
                            Write a New Post
                        </button>
                    </a>
                </div>

                <div class="blog">
                    <% if(posts && posts.length > 0) { %>
                        <% posts.forEach(function (post, idx) { %>
                            <div class="post-grid">
                                <div class="new-post">
                                    <div class="post-title">
                                        <%= post.title %>
                                    </div>
                                    <div class="post-author">
                                        <%= post.author %>
                                    </div>
                                    <div class="post-created">
                                        Posted on: <%= new Date(post.created_at).toLocaleString() %>
                                    </div>
                                    <% if (post.updated_at && post.updated_at.toString() !== post.created_at.toString()) { %>
                                        <div class="post-updated">
                                            Last Updated: <%= new Date(post.updated_at).toLocaleString() %>
                                        </div>
                                    <% } %>
                                    <div class="post-content">
                                        <%= post.content %>
                                    </div>
                                    <div class="btn-container">              
                                        <a href="/edit/<%= post.id %>">
                                            <button type="submit" class="custom-btn">Edit</button>
                                        </a>
                                        <form action="/delete/<%= post.id %>" method="POST">
                                            <button type="submit" class="custom-btn outline">Delete</button>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        <% }) %>
                        
                    <% } else { %>
                        <div class="no-post">
                            <p>Click on the Button Above to Create a New Post</p>
                        </div>
                    <% } %>    
                </div>
            </div>
        </div>         
        <div id="footer">
            <%- include("partials/footer.ejs") %>
        </div>
    </div>
</body>
</html>

