<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogKatta0</title>
    <link rel="stylesheet" href="/styles/themes/light-theme.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
    <div id="main">
        <div id="sidebar">
            <%- include("partials/sidebar.ejs") %>
        </div>
        
        <div id="blog">
            <div id="header">
                <%- include("partials/header.ejs") %>
            </div>
            <div id="content">
                <div class="user-topbar">
                    <%- include("partials/user_topbar") %>
                </div>
                
                <div class="blog">
                    <% if(posts && posts.length > 0) { %>
                        <% posts.forEach(function (post, idx) { %>
                            <%- include("partials/post_card", { post: post, fullView: true }) %>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div id="footer">
                <%- include("partials/footer.ejs") %>
            </div>
        </div>              
    </div>
    <script src="/scripts/sidebar.js"></script>
</body>
</html>

